<!DOCTYPE html>
<html lang="en" ng-app="alarmApp">

<head>
    <meta charset="UTF-8">
    <title>Alarm + Clock</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body class="container-fluid" ng-controller="homeCtrl">

    <div class="row timer-view" ng-class="{'large-screen' : toggle}">
        <div class="col-xs-12 col-lg-6 timer-set large-dark-font">
            <div class="row row-height" ng-class="{'hidden-content' : ! toggle }">
                <div class="col-xs-12 col-lg-12">
                    <i class="fa fa-plus" ng-click="timerPlusHours()" ng-class="{'hidden-content' : startTime}" ></i>
                    <i class="fa fa-plus" ng-click="timerPlusMinutes()" ng-class="{'hidden-content' : startTime}" ></i>
                    <i class="fa fa-plus" ng-click="timerPlusSeconds()" ng-class="{'hidden-content' : startTime}" ></i>
                </div>
            </div>
            <div class="row row-height" ng-class="{'hidden-content' : ! toggle }">
                <div class="col-xs-12 col-lg-12">
                    {{timerHours}}:{{timerMinutes}}:{{timerSeconds}}
                </div>
            </div>
            <div class="row row-height" ng-class="{'hidden-content' : ! toggle }">
                <div class="col-xs-12 col-lg-12">
                    <i class="fa fa-minus" ng-click="timerMinusHours()" ng-class="{'hidden-content' : startTime}" ></i>
                    <i class="fa fa-minus" ng-click="timerMinusMinutes()" ng-class="{'hidden-content' : startTime}" ></i>
                    <i class="fa fa-minus" ng-click="timerMinusSeconds()" ng-class="{'hidden-content' : startTime}" ></i>
                </div>
            </div>
            <div class="row row-height" ng-class="{'hidden-content' : ! toggle }">
                <div class="col-xs-12 col-lg-12">
                    <button class="btn" ng-click="startTimer(); startTime = ! startTime;" ng-class="{'hidden-content' : startTime}" >Start</button>
                    <button class="btn" ng-click="stopTimer(); startTime = ! startTime; " ng-class="{'hidden-content' : ! startTime}" >Stop</button>
                    <button class="btn" ng-click="resetTimer(); startTime = false">Reset</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6 timer-motivation large-light-font">
            <div class="row row-height" ng-class="{'hidden-content' : ! toggle }">
                <div class="col-xs-12 col-lg-12">
                </div>
            </div>
            <div class="row row-height" ng-class="{'hidden-content' : ! toggle }">
                <div class="col-xs-12 col-lg-12 large-light-font">{{inspireWords}}</div>
            </div>
            <div class="row row-height" ng-class="{'hidden-content' : ! toggle }">
                <div class="col-xs-12 col-lg-12"></div>
            </div>
            <div class="row row-height" ng-class="{'hidden-content' : ! toggle }">
                <div class="col-xs-12 col-lg-12"><button class="btn" ng-click="motivate()" id="motivationBtn">Motivate</button></div>
            </div>
        </div>
    </div>
    <div class="row navigation">
        <div class="col-xs-12 col-lg-6 toggle-button timer-nav small-font-dark" ng-click="toggle = ! toggle; start">
            <p>Stop Watch</p>
        </div>
        <div class="col-xs-12 col-lg-6 timer-space"></div>
    </div>

    <div class="row navigation">
        <div class="col-xs-12 col-lg-6 small-font-light toggle-button clock-nav" ng-click="toggle = ! toggle; start">
            <p>Time</p>
        </div>
        <div class="col-xs-12 col-lg-6 clock-space"></div>
    </div>
    
    <div class="row alarm-view" ng-class="{'small-screen' : toggle }">
        <div class="col-xs-12 col-lg-6 alarm-time large-light-font">
            <div class="row row-height empty-view" ng-class="{'hidden-content' : toggle }"></div>
            <div class="row row-height" ng-class="{'hidden-content' : toggle }">
                <div class="col-xs-12 col-lg-12" id="time"></div>
            </div>
            <div class="row row-height empty-view" ng-class="{'hidden-content' : toggle }"></div>
            <div class="row row-height  empty-view" ng-class="{'hidden-content' : toggle }"></div>
        </div>
        <div class="col-xs-12 col-lg-6 alarm-set large-dark-font">
            <div class="row row-height" ng-class="{'hidden-content' : toggle }">
                <div class="col-xs-12 col-lg-12">
                    <i class="fa fa-plus" ng-click="alarmPlusHours()" ng-class="{'hidden-content' : start}" ></i>
                    <i class="fa fa-plus" ng-click="alarmPlusMinutes()" ng-class="{'hidden-content' : start}" ></i>
                </div>
            </div>
            <div class="row row-height" ng-class="{'hidden-content' : toggle }">
                <div class="col-xs-12 col-lg-12">{{alarmHours}}:{{alarmMinutes}}</div>
            </div>
            <div class="row row-height" ng-class="{'hidden-content' : toggle}">
                <div class="col-xs-12 col-lg-12">
                    <i class="fa fa-minus" ng-click="alarmMinusHours()" ng-class="{'hidden-content' : start}" ></i>
                    <i class="fa fa-minus" ng-click="alarmMinusMinutes()" ng-class="{'hidden-content' : start}" ></i>
                </div>
            </div>
            <div class="row row-height" ng-class="{'hidden-content' : toggle }">
                <div class="col-xs-12 col-lg-12">
                    <button class="btn" ng-click="startAlarm(); start = ! start" ng-class="{'hidden-content' : start}">Start</button>
                    <button class="btn" ng-click="stopAlarm(); start = ! start" ng-class="{'hidden-content' : ! start}">Stop</button>
                    <button class="btn" ng-click="resetAlarm(); start = false">Reset</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app.js"></script>
</html>
