/*Spacing and Position*/
.row-height {
    height: 20vh;
}
.hidden-content {
    display: none;
}

/*Font Stylings*/
* {
    font-family: 'Comfortaa', cursive;
}
.small-font-light{
    color: #fafaf1;
    text-decoration: none;
}
.small-font-dark {
    text-decoration: none;
    color: black;
}
.large-light-font {
    color: #fafaf1;
    text-align: center;
    font-size: 10vh;
}
.large-dark-font {
    color: black;
    text-align: center;
    font-size: 10vh;
}
.fa-plus {
    font-size: 4vh;
    margin: 2.5vw;
}
.fa-minus {
    font-size: 4vh;
    margin: 2.5vw;
}

/*Alarm row.*/
.alarm-view {
    height: 80vh;
    transition: height 2s;
    text-align: center;
}
.alarm-time {
    background-color: black;
    color: #fafaf1;
}
.alarm-set {
    background-color: #fafaf1;
    color: black;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

/*Timer row.*/
.timer-view {
    height: 0vh;
    transition: height 2s;
    text-align: center; 
}
.timer-set {
    color: black;
    background-color: #fafaf1;
}
.timer-laps {
    background-color: black;
    color: #fafaf1;
    font-family: 'Comfortaa', cursive;
    font-size: 3vh;
}

/*top navigation*/
.navigation {
    height: 10vh;
    
}
.clock-nav {
    background-color: #000;
}
.clock-space {
    background-color: #fafaf1;
}
.timer-space {
    background-color: black;
}
.timer-nav {
    background-color: #fafaf1;
}
.toggle-button {
    text-align: center;
    width: 100%;
    font-size: 5vh;
    padding: 10px;
}
.small-screen {
   height: 0vh !important;
}
.large-screen {
    height: 80vh !important;
}

/*button styling*/
.btn {
    border: 3px solid black;
    background-color: #fafaf1;
}
.btn:hover {
    background-color: black;
    color: #fafaf1;
}

